<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container">
    <!--<a class="navbar-brand" href="#">Fixed navbar</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto mb-2 mb-md-0">
        <li class="nav-item p-3">
          <a class="nav-link active" aria-current="page" href="#">
            <b class="active">Hjem</b>
          </a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link" href="#">
            <b>Meny</b>
          </a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link" href="#">
            <b>Reserver</b>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="bg-primary vh-100 landing-image text-light">
  <div class="img-overlay"></div>
  <div class="h-100 d-flex align-content-center flex-wrap" style="position:relative;">
    <div class="mx-auto text-center">
      <h5>
        <span class="border-top-primary">
          Hei
        </span>
      </h5>
      <br />
      <h1 style="font-size:64px;">Velkommen til <br />Askim Kro!</h1>
      <br />
      <div class="d-flex justify-content-center">
        <button class="btn btn-outline-light btn-lg">Meny</button>
      </div>
    </div>
  </div>
</section>
<br />
<br />
<section class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h5 class="text-muted">
          <span class="border-top-primary">
            Om oss
          </span>
        </h5>
        <h1>We Invite You to Visit Our Restaurant</h1>
        <br />
        <p class="text-muted">
          Repudiandae dignissimos fugiat sit nam. Tempore aspernatur quae repudiandae dolorem, beatae dolorum, praesentium itaque et quam quaerat.
        </p>
      </div>
      <div class="col-xs-12 col-lg-6">
        <img src="https://scontent.ftrd1-1.fna.fbcdn.net/v/t1.6435-9/125879422_156561116179997_7287684657730046726_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=300f58&_nc_ohc=igyQiOs69U8AX_ac8qT&_nc_ht=scontent.ftrd1-1.fna&oh=00_AfC41dOist46qf--YOuR0FVhk441FWjTh5h-CNrm-2vPJQ&oe=66057743" class="w-100 h-100" />
      </div>
    </div>
  </div>
</section>
<br />
<br />
<section class="p-5 reservation-image text-light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h5>RESERVATION</h5>
        <h1>WORKING HOURS</h1>
        <br />
        <p>
          Rolorem, beatae dolorum, praesentium itaque et quam quaerat.
        </p>
        <button class="btn btn-warning">Meny</button>
      </div>
    </div>
  </div>
</section>

